<!DOCTYPE html>
<html>
<head>

	<meta charset="UTF-8">
	<title>Razen Chris Marling</title>

	<link href="css/myportfolio.css" rel="stylesheet" type="text/css">
	<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">

</head>
<body>
	<div class="jumbotron text-center" id="myjumb">
		<img src="/img/mypic.png" class="img-circle" width="150" height="170">
		<p>Hi! Im Razen Chris Marling</p>
	</div>

	<div class="container" id="mycontainer">

	  <div class="row">
	    <div class="col-sm-12">
	      <h3>Column 1</h3>
	      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
	      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
	    </div>
	   </div>

	   <div class="row">
	    <div class="col-sm-12">
	      <h3>Column 2</h3>
	      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
	      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
	    </div>
	   </div>

	   <div class="row">
	    <div class="col-sm-12">
	      <h3>Column 3</h3>        
	      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
	      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
	    </div>
	   </div>

	</div>
	<div id="mydivbot"></div>

</body>
</html>
